*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

header a{
    color: black;
}
header button{
    background-color:rgb(228, 104, 3);
    display: flex;
    align-items: center;
    border: none;
    font-size: 24px;
    padding: 10px;
    border-radius: 15px;
}
header button a{
    color: white;
}

.top{
    display: flex;
    gap:50px;
    justify-content: center;
    margin: 20px 0;
    align-items: center;
    width: 100%;
}

.top input[type="search"]{
    background-color: rgb(230, 230, 230);
    color: rgb(128, 128, 128);
    border: 0;
    padding: 15px 10px;
    width: 20%;
    border-radius: 10px;
}

.top a{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.top a img{
    height: 24px;
    width: 24px;
}

nav{
    margin: 30px 0;
    width: 58%;
    justify-self: center;
}
nav ul{
    display: flex;
    font-size: 24px;
    gap:15px;
    justify-content: space-between;
}

header hr {
    width: 100%;
    margin: 0;
    border: none;
    height: 1px;
    background-color: rgb(230, 230, 230);
}